<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role='navigation'>


  <h1> <a class="navbar-brand" href="#">Web Accessibility</a></h1>

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)='navigateto()'>Video <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)='table()'>Table</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)='signin()'>Log In</a>
        </li>
    </ul>
  </div>
</nav>  

<!-- line number 2 no need of h1

main landmark is not at top lebel -->