<div>
  <h1>Here is the Table</h1>

  <table class="table table-striped table-dark table-bordered table-justify" summary='Table for Name Email and Website'>
      <caption>Showing Name Email and Website in the table</caption>
        <thead>
          <tr>
            <th scope="col" role="columnheader" tabindex="0">Full Name</th>
            <th scope="col" role="columnheader" tabindex="0">E-Mail</th>
            <th scope="col" role="columnheader" tabindex="0">Website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let post of posts'> 
            <td tabindex="0">{{post.name}}</td>
            <td tabindex="0">{{post.email}}</td>
            <td tabindex="0">{{post.website}}</td>
          </tr>
        </tbody>
    </table>
</div>
