<div class="jumbotron">
  <div class="row">
      <div class="col-sm-6">
          <h2>16:9 Responsive Aspect Ratio - youtube</h2>
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY" allowfullscreen></iframe>
          </div>
      </div>

    <div class="col-sm-6">
        <h2>16:9 Responsive Aspect Ratio - video</h2>
            <video class="embed-responsive embed-responsive-16by9" width="320" height="240" controls>
              <source 
              src="https://r5---sn-h5576n7k.googlevideo.com/videoplayback?id=o-AM9WusXoztNxScjH_E_FTX5hQKgOelZB1Y6JypzV6gzq&c=WEB&pl=24&ipbits=0&signature=619242BF0DD97800ECCF4324C34D6C5791CD43AF.444B14DC694343008DBE77D0572C0AFB2A68F0BE&ip=2600%3A3c00%3A%3Af03c%3A91ff%3Afe52%3Af0d3&key=cms1&gir=yes&ei=GsRNW8ndGsGmDcL9o9gJ&fexp=23709359,23745105&dur=72.701&sparams=clen,dur,ei,expire,gir,id,initcwndbps,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&requiressl=yes&expire=1531844730&mime=video%2Fmp4&itag=18&ratebypass=yes&clen=3796067&source=youtube&fvip=5&lmt=1525701102729846&title=Real+Bird%27s+Reaction+to+Digibirds,+Part+2&rm=sn-q4feek76,sn-ci5gup-h55e7k&req_id=e1f3ff186859a3ee&ipbypass=yes&mip=182.72.228.194&redirect_counter=2&cms_redirect=yes&mm=29&mn=sn-h5576n7k&ms=rdu&mt=1531823053&mv=m"
              type="video/mp4">
            </video>
    </div>
  </div>
</div>
