<div class="jumbotron">
  <div class="row">
      <div class="col-sm-6">
          <h2>16:9 Responsive Aspect Ratio - youtube</h2>
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY" allowfullscreen title="Watch trailer"></iframe>
          </div>
      </div>

    <div class="col-sm-6">
        <h2>16:9 Responsive Aspect Ratio - video</h2>
            <video class="embed-responsive embed-responsive-16by9" width="320" height="240" controls>
                    <caption>Video about animal</caption>
                <source src="../../assets/videoplayback.mp4" type="video/mp4">
                <track kind="subtitles" src="subtitles_en.vtt" srclang="en" default/> 
                <track kind="descriptions" src="subtitles_en.vtt" srclang="en"/>
                <track kind="captions" src=brave.en.hoh.vtt srclang='en'/>
                Browser not supported
            </video>
    </div>
  </div>
</div>


