<div>
  <h1>Log In to see the feature</h1>
  <form class="form-signin" (submit)='userevent($event)' role="form">
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputEmail">Email address</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <label for="inputPassword">Password</label>
    </div>
  
    <button class="btn btn-lg btn-block" type="submit">Sign in</button>
</form>
</div>
