<div class="jumbotron">
    <div class="row">
      <div class="col-md-5 ">
        <ul class="list-unstyled">
          <li>
            <form action="" class="form-horizontal">
              <p>Add Some users...</p>
              <div class="form-group">
               <input type="text" name="todotxt" id="username"
                [(ngModel)]='task' aria-label="Add some user" placeholder="Enter Something here" class="col-sm-10 form-contro"/>
             </div>
             <div>
              <button class="btn btn-sm" (click)="addTask()">Add User</button>
            </div>
            </form>
          </li>
        </ul>
      </div>
  
      <div class="col-md-6 offset-2">
        <ol>
          <li *ngFor='let t of TaskList;let i = index'>{{t}} <button class="btn btn-sm" (click)='removeTask(i)'>Delete</button></li>
        </ol>
      </div>
    </div>
  </div>