<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Web Accessibility !!!</h1>
      <br/>
      <p>The power of the Web is in its universality,
          Access by everyone regardless of disability is an essential aspect.</p>
      <p>
          The Web is fundamentally designed to work for all people, whatever their hardware, software, language, location,
           or ability. When the Web meets this goal,
           it is accessible to people with a diverse range of hearing, movement, sight, and cognitive ability.
      </p>
    </div>
  </div>